:root {
    --verde-claro_bg: #45635B;
    --dourado-shadow: #efb810;
}

.cadastro {
    display: flex;
    flex-direction: column; 
    padding: 15px;
    margin-bottom: 10px;
}

.formularioCad {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    align-self: flex-end;
    
}

.perfilInvest:hover{
    cursor: pointer;
}

.formInvest {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
