input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

h1,h2,h3,
h4,h5,h6,
summary, 
.botao,
.cadastrar,
.itemNav {
    font-family: 'Bruno Ace SC', cursive;
}

html {
    font-family: 'Kalam', cursive;
    background: #202f33;
}




body {
    background: linear-gradient(#45635B ,#202f33 70%);
    background-repeat: no-repeat;
    
}

body::-webkit-scrollbar {
    background: linear-gradient(#45635B ,#202f33 70%);
    border-radius: 30px;
}

body::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 30px;
    border: #d9d9d9 0.125px solid;
    height: 10px;
}

.lateral {
    display: flex;
    flex-direction: column; 
    float: left;
    width: 30%;
}

/* Formatações não genéricas */
header {
    display: flex;
   box-shadow: #000000 0 10px 20px;
   margin-bottom: 20px;
   background: #202f33;
}

.containerCabec {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.imgCabecalho {
    width: 100%;
}

.imgLogo {
    position: absolute;
    width: 17%;
    
} 

.menuNav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.itemNav {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    transition: 0.3s;
}

.itemNav:hover {
    text-shadow: #efb810 3px 4px 7px;
    font-size: 1.8rem;
}

.mesVig {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.625rem;
    color: #FFFFFF;
}

.mes {
    border: none;
    border-radius: 30px;
    background: #a0aa55;
    color: #FFFFFF;
    padding: 0.3rem 1.25rem;
}

.mes:hover {
    cursor: pointer;
}

.mes:active {
    background: #50552b;
}

.cadastro {
    display: flex;
    flex-direction: column;
    background:#202f33; 
    color:#FFFFFF;
    border-radius: 10px;
    padding: 15px;
}

.formularioCad {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    align-self: flex-end;
    
}

.campoCadastro {
    background:#45635B;
    color:#FFFFFF;
    border-radius: 30px;
    font-size: 16px;
    padding: 2px;
    border: none;
    font-size: 0.8rem;
}

.perfilInvest {
    display: flex;
    background: #45635B;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 20px;
}

.perfilInvest input:hover {
    cursor: pointer;
}

.perfilInvest:hover {
    cursor: pointer;
}

.botao {
    background: #71783c;
    color:#FFFFFF;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 30px;
    padding: 2px 5px;
    border: none;
    align-self: flex-end;
    transition: 0.5s;
}

.botao:hover {
    cursor: pointer;
    background:#50552b;
    box-shadow: #a0aa55 2px 2px 9px;
    font-size: 1.012rem;
}

.areaStorage {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:space-around ;
    min-height: 800px;
    
}
.secaoCadastrada {
    width: 42%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#202f33 , #45635b);
    border-radius: 10px;
    padding: 15px;
    color: #FFFFFF;
}

.listaCadastrada {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
    padding: 5px 8px;
}

.itemCadastrado {
    display: flex;
    background: #45635b;
    border: #71783c 0.2px solid;
    border-radius: 30px;
    padding: 5px 8px;
    justify-content: space-between;
    box-shadow: #71783c 5px 2px 9px;
}

.areaResultados {
    width: 90%;
}

.resultados {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-inline-start: 0;
}

.itemResultado:nth-child(2){
    background: #2C4248;
}

.itemResultado {
    justify-content: flex-start;
    display: flex;
    justify-content: space-between;
    background: #45635B;
    width: 100%;
    padding: 5px 8px;
    color: #FFFFFF;
    border-radius: 30px;
    font-size: calc(1rem + (1rem/8))
}

.reais:before {
    content: "R$ "
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202f33;
    color: #FFFFFF;
    height: 100px;   
    width: 100%;

}


/* A partir desse ponto, CSS específico da home-page */
.tituloSecao{
    font-size: 1.5rem;
    color: #FFFFFF;
}

.educacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 20px;
    width: 30%;
    float: left;
}

.listaEducativa {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.artigoFinanceiro {
    text-decoration: none;
    color: #FFFFFF;
    background: #202f33;
    padding: 0 6rem;
    border-radius: 30px;
    transition: 0.3s;
}
.artigoFinanceiro:hover {
    margin: 0 0 0 10px;
    box-shadow: #efb810 0px 1px 9px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    background: #202f33;
    gap: 10px;
    padding: 20px;
    width: 60%;
    float: right;
}

.textoApr {
    padding: 10px;
    color: #FFFFFF;
}

.quemSomos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    float: right;
    background: #202f33;
    padding: 20px;
    margin-top: 10px;
    width: 60%;
    float: right;
}
.cards{
    flex-wrap:wrap;
    display: flex;
    justify-content: space-around;
}
.descDev {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: calc(100%/6);
    color: #FFFFFF;
    border: #45635B 1px dashed;
    padding: 10px;
}

.imagemDev {
   width: 50%;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 0.8rem;
    }

    .itemNav {
        font-size: 0.6;
    }

    .formularioCad {
        width: 90%;
        margin-top: 10px;
        align-self: center;
    }
    
    .areaStorage {
        min-height: auto;
    }

    .secaoCadastrada {
        width: 90%;
    }

    .botao {
        font-size: 0.7rem;
    }

    .artigoFinanceiro {
        padding: 0 4rem;
    }
    
}

@media screen and (max-width: 680px) {
    html {
        font-size: 0.6rem;
    }

    .secaoCadastrada {
        width: 70%;
    }
    
    .areaResultados {
        width: 70%;
    }
    
}

@media screen and (max-width:580px){

    .itemNav{
        font-size: 1rem;
    }

    .perfilInvest {
        display: none;
    }

    .educacao {
        width: 20%;
    }

    .tituloSecao {
        font-size: 0.8rem;
    }

    .artigoFinanceiro{
        font-size: 0.5rem;
        padding: 0 2rem;
    }

    .listaEducativa {
        gap: 7px;
    }
}

@media screen and (max-width:380px) {
    html {
        font-size: 0.55rem;
    }

    .itemNav {
        font-size: 0.8rem;
    }

    .apresentacao,
    .quemSomos {
        width: 50%;
    }